# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.pong.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\LÖVE2D\pong\.idea\.idea.pong.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
